"use client";

import { ReactNode } from 'react';

interface {{ pascalCase name }}Props {
  children?: ReactNode;
}

const {{ pascalCase name }} = (props: {{ pascalCase name }}Props) => {
  return (
    <div>
      <h1>{{ pascalCase name }} Component</h1>
      {props.children}
    </div>
  );
};

export default {{ pascalCase name }}
export { {{ pascalCase name }}, type {{ pascalCase name}}Props }