'use client';

import { ReactNode } from 'react';

interface {{ pascalCase name }}Props {
  children?: ReactNode;
}

const {{ pascalCase name }} = (props: {{ pascalCase name }}Props) => {
  return (
    <div>
      <h2>generated component {{ pascalCase name }} using template</h2>
      {props.children}
    </div>
  );
};

export default {{ pascalCase name }};
export { {{ pascalCase name }}, type {{ pascalCase name}}Props };
